

.textColor1{
    color:#258b73;
}
.textColorHover1{
    color:rgb(51 82 97)
}
.textColorHover1:hover{
    color:#258b73;
    /* background-color: ; */
}

.textColor2{
    color:aliceblue
}


.textColorHover2{
    color: white;
}
.textColorHover2:hover{
    color:#258b73;
}
.bgThem1{
    background-color: #258b73;
}

.bgTheme2{
    background-color: #004a77;
}


.btn1{
    background-color:#258b73;
    color: white;
    border-radius: 5px;
}